body {
	background: url(http://griddle.it/960-12-30) repeat-y center top;
	/*background: url(../img/bg.png) repeat #F1EEE7;*/
	margin: 0;	
}

.container {
	max-width: 960px;
}

.navigation {
	margin-top: 50px;	
	font-size: 22px;
	line-height: 22px;
}

.navigation .logo {
	margin-top: 0;
	width: 35%;
}

.navigation .logo a {
	width: auto;
}

.navigation .logo a img {
	max-width: 100%;
}

.navigation ul {
	
}

.navigation li {
	margin-top: 59px;
	padding-right: 0px;
	width: 13%;
}

.navigation li.active a {
	color: #DEC561;
	background-color: transparent;
}

.navigation li a {
	color: #594A29;
}

.navigation li a:hover, .navigation li.active a:hover {
	color: #DEC561;
	text-decoration: none;
	background-color: transparent;
}

.navigation .nav-tabs > li > a, .nav-pills > li > a {
	padding : 0;
	margin: 0;
	line-height: 22px;
	text-align: center;
}

.carousel-inner .item {
	max-width: 100%;
}

.content {
	margin-bottom: 60px;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.home {
	position: absolute;
	font-size: 54px;
	margin-left: -102px;
	margin-top: 64px;
	font-weight: bolder;
	color: #E39A71;
}

.cakes {
	position: absolute;
	font-size: 54px;
	margin-left: -115px;
	margin-top: 78px;
	font-weight: bolder;
	color: #94B799;
}

.contact {
	position: absolute;
	font-size: 54px;
	margin-left: -151px;
	margin-top: 117px;
	font-weight: bolder;
	color: #95B8B4;
}

.bordered {
	border: 2px solid #CAC7B4;
	padding: 2px;
}

.content .left-section {
	border-right: 2px solid #CAC7B4;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content .left-section img {
	max-width: 100%;
}

.content .right-section h2 {
	text-align: center;
	color: #DEC561;
}

.content .right-section p {
	margin-left: 20px;
}


.row-fluid .no-indent[class*="span"] {
	margin-left:0;
}

.carousel-inner .item {
	width: 650px;
	height: 450px;
	margin-left: 65px;
}

.carousel-indicators li {
	background-color: #C3DAFA;
}

.form-horizontal {
	margin-top: 20px;
}

.form-horizontal .control-label {
	width: 70px;
}

.form-horizontal .controls {
	margin-left: 80px;
}

.footer .links, .footer .copyright {
	background: #C3DAFA;
	
}

.footer ul li {
	float: left;
	margin-right: 150px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 40px;
}

.footer ul li a {
	color: #57492C;
	font-size: 20px;
}

.footer p {
	color: #57492C;
	font-size: 14px;
	padding-left: 15px;
	padding-top: 5px;
}

.footer .copyright {
	border-top: 2px solid #F8FFFF;
}



