@media (min-width: 768px) and (max-width: 979px) {
	body {
		/*background: url(http://griddle.it/768-12-30) repeat-y center top;*/
	}

	.navigation {
		font-size: 18px;
		font-weight: bold;
	}

	.navigation .nav-tabs > li > a, .nav-pills > li > a {
		line-height: 20px;
	}

	.navigation ul {
		margin-left:0;
	}

	.navigation li {
		margin-top: 55px;
		padding-right: 0px;
		width: 13%;
	}

	.content .current-image-container.hidden-phone {
		position: absolute;
		top: 50%;
	    left: 50%;
	    width: 320px;
	    height: 320px;
	    margin-left: -160px;
	    margin-top: -160px;
	    z-index: 1;
	    border: 3px solid RGBA(100,100,100,0.2);
	}

	.swiper-wrapper {
		margin-top: 50px;
	}

	
}