@media (max-width: 767px) {

	body {
		background: url(../img/bg.png) repeat #F1EEE7;
	}

	.navigation {
		font-size: 16px;
		line-height: 18px;
	}

	.navigation .nav-tabs > li > a, .nav-pills > li > a {
		line-height: 18px;
	}

	.navigation .logo {
		width: auto;
		left: 30%;
		right: 30%;
		position: absolute;
		float: none;
		top: 20px;
	}

	.navigation .logo + li {
		border-left: 2px solid #B3A888;
	}

	.navigation li {
		margin-top: 19.6%;
		padding-right: 0px;
		width: 20%;
	}

	.content .left-section {
		border-right :0;
	}

	.form-horizontal {
		text-align: center;
		margin-right: 0;
	}

	.form-horizontal .controls {
		margin-left: 0;
	}

	input, textarea {
		width: 90%;
	}

	.footer ul, .footer p {
		padding-left: 20px;
	}


}