@media (max-width: 469px) {
	.navigation {
		font-size: 14px;
		line-height: 16px;
	}

	.navigation .nav-tabs > li > a, .nav-pills > li > a {
		line-height: 16px;
	}

	.navbar-inner {
		min-height: 30px;
	}

	.content .left-section.image-gallery .grid .span4 {
		height: 160px;
	}

	.content .current-image-container {
		position: absolute;
		top: 50%;
	    left: 50%;
	    width: 320px;
	    height: 320px;
	    margin-left: -160px;
	    margin-top: -160px;
	    z-index: 1;
	    border: 3px solid RGBA(100,100,100,0.2);
	}

	.next, .prev, .close {
		padding: 5px;
	}

	.carousel-indicators {
		display: none;
	}

	#map-canvas {
		height:300px;
	}

	.footer .links {
		font-size: 12pt;
	}

	.footer .copyright p {
		font-size: 10pt;
	}

	
}