@media (max-width: 767px) {

	body {
		background: url(../img/bg.png) repeat #F1EEE7;
		padding:0;
	}

	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin:0;
	}

	.navigation {
		font-size: 16px;
		line-height: 18px;
		margin-top: 0;
	}

	.navigation .nav-tabs > li > a, .nav-pills > li > a {
		line-height: 18px;
	}

	.navigation .logo {
		width: auto;
		left: 30%;
		right: 30%;
		position: absolute;
		float: none;
		top: 20px;
	}

	.navigation .logo + li {
		border-left: 2px solid #B3A888;
	}

	.navigation li {
		margin-top: 0;
		padding-right: 0px;
		width: auto;
		margin-left: -2px;
		margin-right: -2px;
	}

	.content .left-section, .content .right-section, .bordered {
		padding-left: 0px;
		padding-right: 0px;
	}

	.content .left-section {
		border-right :0;
	}

	.content .right-section {
		border-left: 0;
	}

	.form-horizontal {
		text-align: center;
		margin-right: 0;
	}

	.form-horizontal .controls {
		margin-left: 0;
	}

	input, textarea {
		width: 90%;
	}

	.footer ul, .footer p {
		padding-left: 20px;
	}

	.row-fluid.grid {
		display: block;
	}

	.content .left-section.image-gallery .grid .span4 {
		width: 50%;
		float: left;
	}

	.content .current-image-container {
		position: absolute;
		top: 23%;
	    left: 50%;
	    width: 100%;
	    height: 320px;
	    margin-left: -50.5%;
	    z-index: 1;
	    border: 3px solid RGBA(100,100,100,0.2);
	}

	.left-section.image-gallery .carousel-control {
		top: 37%;
	}

	.content .left-section {
		padding-bottom: 0;
	}

	


}